<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--js标签,两种方式使用js代码-->
    <!-- <script>alert(1)</script>
    <script src="../JS/01.js"></script> -->
    <h2>JavaScript 能做什么</h2>
    <p id="demo">JavaScript 能够改变 HTML 内容。</p>
    <button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>点击我！</button>x`
</body>
</html>